@import url("home-page.css");
.html {
  margin: 0;
  padding: 0;
  border: none;
}
.display-disabled {
  display: none;
}

#settings-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 10;
}

@font-face {
  font-family: my-first-font;
  src: url('../Font.ttf');
}

#setting-background {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 650px;
  justify-content: center;
  align-items: center;
  border: solid white;
  border-radius: 20px;
  animation: none;
  opacity: 1;
}

.content-holder {
  /* border: solid white; */
  width: 80%;
  height: 90%;
}

.top-content {
  display: flex;
  /* border: solid rebeccapurple; */
  flex: 1;
  width: 100%;
  height: 150px;
}

.general, .audio {
  flex: 1;
  text-align: center;

}

.main-btn {
  border-radius: 20px;
  width: 90%;
  height: 70%;
  font-size: 60px;
  font-family: my-first-font;
  text-align: center;
  background-color: rgba(136, 136, 136, 0.26);
  box-shadow: inset 1px 1px 15px black;
  margin-top: 10px;

}
.hover-enabled:hover {
  cursor: pointer;
  background-color: var(--buttonhover);

}

.clicked {
  background-color: #CCCCCC;
}

/* MIDDLE-CONTENT */
.middle-content {
  display: flex;
  flex-direction: column;
  height: 360px;
  margin-top: -20px;
  overflow-y: auto;
  padding-left: 5px;
  gap: 10px;
}

.master-volume-option, .music-volume-option, .sfx-volume-option{
  display: flex;
  flex-direction: row;
  height: 120px;
  width: 100%;
  justify-content: right;
  align-items: center;
  text-align: center;
}

.master-volume, .music-volume, .sfx-volume, .change-bg, .change-card-style, .change-music-option {
  font-size: 49px;
  font-family: 'my-first-font';
  font-weight: bold;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}


/* VOLUME-SLIDER-CSS */
.range{
  height: 80px;
  width: 380px;
  background: #ffffff11;
  border-radius: 10px;
  padding: 0 65px 0 45px;
  box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
}
.slider-value{
  border: solid transparent;
  position: relative;
  margin-left: 5.5px;
  width: 359px;
}
.slider-value span{
  position: absolute;
  height: 45px;
  width: 45px;
  transform: translateX(-70%) scale(0);
  font-weight: 500;
  top: -40px;
  margin-left: 10px;
  line-height: 55px;
  z-index: 2;
  color: #fff;
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
}
.slider-value span.show{
  transform: translateX(-70%) scale(1);
}
.slider-value span:after{
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: #0000005e;
  border: 3px solid rgb(0, 0, 0);
  z-index: -1;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border-bottom-left-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.field{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
.field .value{
  position: absolute;
  font-size: 18px;
  color: black;
  font-weight: 600;
}
.field .value.left{
  left: -22px;
}
.field .value.right{
  right: -43px;
}
/*.range input{*/
/*  -webkit-appearance: none;*/
/*  width: 100%;*/
/*  height: 3px;*/
/*  background: #ddd;*/
/*  border-radius: 5px;*/
/*  outline: none;*/
/*  border: none;*/
/*  z-index: 2222;*/
/*}*/
/*.range input::-webkit-slider-thumb{*/
/*  -webkit-appearance: none;*/
/*  width: 20px;*/
/*  height: 20px;*/
/*  background: red;*/
/*  border-radius: 50%;*/
/*  background: rgb(0, 0, 0);*/
/*  border: 0.5px solid #664AFF;*/
/*  cursor: pointer;*/
/*}*/
/*.range input::-moz-range-thumb{*/
/*  -webkit-appearance: none;*/
/*  width: 20px;*/
/*  height: 20px;*/
/*  background: red;*/
/*  border-radius: 50%;*/
/*  background: #664AFF;*/
/*  border: 1px solid #664AFF;*/
/*  cursor: pointer;*/
/*}*/
/*.range input::-moz-range-progress{*/
/*  background: #664AFF;*/
/*}*/


/* BOTTOM AUDIO SETTINGS */
.bottom-content {
  display: flex;
  height: 70px;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bottom-left-side, .bottom-right-side {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 60%;
  height: 100%;
}

.dropdown {
  position: relative;
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  background: #0000003e;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5em;
  padding: 1em;
  cursor: pointer;
  transition: background 0.3s;
  border: solid black;
  width: 200px  ;
}

/* Clicked-Styles */
.select-clicked {
  border: 2px #26489a solid;
  box-shadow: 0 0 0.8em #26489a;
}

.select:hover {
  background: #323741;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}

/* Rotate-Styles */

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: #323741;
  border: 1px #363a43 solid;
  box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
  border-radius: 0.5em;
  color: #9fa5b5;
  position: absolute;
  bottom: 3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}

.menu li:hover {
  background: #2a2d35;
}

/* Active-Styles */
.active {
  background: #23242a;
}

/* Open-Styles */
.menu-open {
  display: flex;
  flex-direction: column-reverse;
  opacity: 1;
}

.change-music-option {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
}

.bottom-right-side {
  width: 25%;
}

.reset-btn, .save-btn {
  display: block;
  font-family: 'myFirstFont';
  font-size: 60px;
  color: black;
  font-weight: 800;
  text-decoration: none;
  background: none;
  transition: 0.4s;
  border: none;
  text-transform: uppercase;
  max-width: fit-content;
  cursor: pointer;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  border-radius: 15px;
}

.reset-btn:hover, .save-btn:hover {
  color: #333;
}

.bg-options, .change-card-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 7px;
  height: fit-content;
  padding: 10px;
}

.bg-stock-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  position: initial;
  height: fit-content;
  gap: 10px;
  overflow-y: auto;
  width: 770px;
}

.bg-custom-outer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.bg-options-inner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.bg-option, .card-style-option {
  max-width: 90px ;
  max-height: 90px;
  min-width: 90px;
  min-height: 90px;
  z-index: 2;
  animation: none;
  position: inherit;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
}

input[type='range'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type='range']::-moz-range-thumb {
  border: none;
}

.range-style {
  width: 400px;
  height: 60px;
  padding: 20px;
  background: transparent;
  border-radius: 10px;
}

.range-style .track-style {
  display: flex;
  align-items: center;
  height: 20px;
  border-radius: 10px;
  box-shadow: inset -2px -2px 8px white, inset 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.range-style .thumb-style {
  position: relative;
  top: -50%;
  width: 40px;
  height: 40px;
  background-color: white;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.8), transparent);
  border-radius: 50%;
  box-shadow: -1px -1px 2px white, 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.range-style::-webkit-slider-runnable-track {
  display: flex;
  align-items: center;
  height: 20px;
  border-radius: 10px;
  box-shadow: inset -2px -2px 8px white, inset 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.range-style::-webkit-slider-thumb {
  position: relative;
  top: -50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255,255,255,0.7);
  box-shadow: inset -2px -2px 8px white, inset 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.range-style::-moz-range-track {
  display: flex;
  align-items: center;
  height: 20px;
  border-radius: 10px;
  box-shadow: inset -2px -2px 8px white, inset 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.range-style::-moz-range-thumb {
  position: relative;
  top: -50%;
  width: 40px;
  height: 40px;
  background-color: #2a2f3bdd;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.8), transparent);
  border-radius: 50%;
  box-shadow: -1px -1px 2px white, 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.slider-input{
  font-family: 'myFirstFont';
  font-size: 30px;
  width: 3ch;
  border: none;
  background: transparent;
  border-bottom: 1px solid white;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  text-align: center;
}

.slider-input:focus{
  outline:none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.slider-input::placeholder{
  color:transparent;
  text-shadow: none !important;
}

.bg-custom-upload-container{
  background-color: rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.upload{
  margin: 0px;
  font-size: 50px;
  font-family: 'my-first-font';
  font-weight: bold;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.bg-custom-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100px;
}

.bg-custom {
  display: flex;
  flex-direction: row;
  justify-content: end;
  background: white;
}

.delete-bg{
  height: 20px;
  cursor: pointer;
}

.bg-custom:hover img{
  display:block !important;
}

/*.delete-bg:hover {*/
/*  background: rgb(0, 0, 0, 0.1);*/
/*  border-radius: 10px;*/
/*}*/
.bg-custom-container*>{
  flex: 1 1 150px;
}

input[type="file"] {
  cursor: pointer;
}

.card-style-option {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-style-option > svg {
  min-width: 125px;
  height: 175px;
  scale: 2;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;
  opacity: 0.5;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.5);
}