.wait-container {
    font-family: "my-first-font";
    font-weight: 800;
    text-decoration: none;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    background: none;
    font-size: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    transform: translate(20%, 0);
}

.wait-container h1 {
    position: relative;
    display: flex;
}

.button-container #join-button, #link-button{
    display: block;
    font-family: 'myFirstFont';
    font-size: 5em;
    color: black;
    border: none;
    font-weight: 800;
    text-decoration: none;
    background: none;
    transition: 0.4s;
    text-transform: uppercase;
    max-width: fit-content;
    cursor: pointer;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    padding: 60px;
}

.button-container button:hover {
    color: #333;
}

.button-container {
    justify-content: center;
    align-items: center;
}

#link-button {
    justify-content: center;
    align-items: center;
    transform: translate(25%,150%);
}

#join-button {
    justify-content: center;
    align-items: center;
    transform: translate(35%,150%);
}

.button-container img {
    visibility: hidden;
    width: 40px;
    transform: rotate(-0.25turn);
    width: 40px;
    display: inline-flex;
    align-items: center;
    position: relative;
    border: solid black;
    background-color: white;
    border-radius: 10%;
}

.wait-phase button:hover img {
    visibility: visible;
    animation-name: slideleft;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
}

.wait-phase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
}

.cards {
    position: relative;
    margin: 50px auto;
    height: 75px;
    margin-left: 60rem;
    width: 50px;
    font-size: 30px;
    line-height: 38px;
    font-weight: bold;
}
