.wait-container {
    font-family: "my-first-font";
    font-weight: 800;
    text-decoration: none;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    background: none;
    font-size: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    transform: translate(20%, 0);
}

.wait-container h1 {
    transform: translate(-45%, 0);
    position: relative;
    display: flex;
}

.button-container button {
    display: block;
    font-family: 'myFirstFont';
    font-size: 5em;
    color: black;
    border: none;
    font-weight: 800;
    text-decoration: none;
    background: none;
    transition: 0.4s;
    text-transform: uppercase;
    max-width: fit-content;
    cursor: pointer;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    padding: 60px;
}

.button-container button:hover {
    color: #333;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container img {
    visibility: hidden;
    width: 40px;
    transform: rotate(-0.25turn);
    width: 40px;
    display: inline-flex;
    align-items: center;
    position: relative;
    border: solid black;
    background-color: white;
    border-radius: 10%;
}

.wait-phase button:hover img {
    visibility: visible;
    animation-name: slideleft;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
}

.wait-phase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.waiting-cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.waiting-cards .card {
    margin: 0 1rem;
    width: 100px;
    height: auto;
    transition: transform 0.5s ease-in-out;
}

.waiting-cards.loading .card {
    animation: rotate 2s infinite linear;
}


@keyframes slideleft {
    0% {
        transform: translateX(5);
    }
    50% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
