
#clash-page {
  position: relative;
}

@font-face {
  font-family: myFirstFont;
  src: url("../Font.ttf");
}

.p1-pfp {
  display: inline-block;
  border-style: double;
  border-color: blue;
  border-width: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  background-color: white;
  margin: 80px 0px 0px 80px;
}


.p2-pfp {
  display: inline-block;
  border-style: double;
  border-color:  rgb(255, 0, 0);
  border-width: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  float: right;
  text-align: center;
  background-color: white;
  margin: 80px 80px 0px 0px;
}

.p1-pfp img, .p2-pfp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.p1-pfp img {
  transform: scaleX(-1);
}

.barcontainer{
  display: flex;
  height: 10vh;
  align-items: center;
  border-width: 10px;
  justify-content: center;
  gap: 50%;
  
}

/* .p1barcontainer{
  margin-left: 15px;
  width: 18vw;
  height: 4vh;
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  background-color: gainsboro;
  background: linear-gradient(to left,rgba(30,100,10,1),rgba(36,147,21,1),rgba(163,218,3,1),rgba(210,185,41,1),rgba(190,39,6,1),rgba(134,37,16,100));
}

.p2barcontainer{
  margin-right: 15px;
  width: 18vw;
  height: 4vh;
  border-radius: 20px;
  border-style: solid;
  background: linear-gradient(to right,rgba(30,100,10,1),rgba(36,147,21,1),rgba(163,218,3,1),rgba(210,185,41,1),rgba(190,39,6,1),rgba(134,37,16,100));

} */

progress[value]::-webkit-progress-value {
  /* background: var(--progress-color); */
  background: linear-gradient(90deg, #e20808 0px, rgb(205, 17, 3) 10px, rgb(192, 124, 14) 80px, rgb(208, 170, 22) 125px, rgb(182, 194, 24) 200px, rgb(89, 170, 7) 250px, rgb(59, 147, 9) 275px, rgb(47, 136, 5) 300px, rgb(23, 98, 6) 350px, rgb(6, 82, 24) 400px);
  transition: background-color 1s ease;
  border-radius: 20px;
}

progress::-webkit-progress-bar {
  background: transparent;
  border: solid black;
  border-radius: 20px;
}

#p1-health-bar, #p2-health-bar {
  width: 100%;
  height: 100%;
  /* border: solid black; */
  border-radius: 5px;
  
}

#p2-health-bar {
  transform: scaleX(-1);
}

.bar1, .bar2 {
  width: 400px;
  height: 50%;
  border-radius: 5px;
}


.cardcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh; /* Optional: Set a height for the container */
  margin-top: 5%;
  

  

}

.card1container{
  height: 60vh;
  width: 22.5vw;;
  background-color: #ddc1c1;
  align-items: center;
  margin-left: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:
  inset #000000 0 0 0 5px, 
  inset hsl(0, 8%, 3%) 0 0 0 1px, 
  inset #9c0101 0 0 0 8px, 
  inset #550e00 0 0 0 9px, 
  inset #0a0a0a 0 0 0 11px, 
  inset #ff220a 0 0 0 12px, 
  inset #730000 0 0 0 15px, 
  inset #050505 0 0 0 18px;
  border-radius: 15px;
}

.card2container{
  height: 60vh;
  width: 22.5vw;
  background-color: #daf4fa;
  margin-right: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:
  inset #77c2ff 0 0 0 1px, 
  inset #009688 0 0 0 5px, 
  inset #059c8e 0 0 0 1px, 
  inset #34ffeb 0 0 0 9px, 
  inset #1fbdae 0 0 0 11px, 
  inset #8ce9ff 0 0 0 11px, 
  inset #48e4d6 0 0 0 12px, 
  inset #80d8ee 0 0 0 18px;
  border-radius: 15px;
}

.vs {
    font-size: 150px;
    /*border-bottom: 5px solid black;*/
    text-decoration: solid;
    text-align: center;
    font-family: myFirstFont;
    src: url("Poker.ttf");
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

@keyframes flip {
  0% {
    transform: perspective(400px) rotateY(0deg);
  }
  100% {
    transform: perspective(400px) rotateY(180deg);
  }
}



.card1clash {
  animation: flip 3s;
}

.card2clash {
  animation: flip 3s;
}